$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
body {
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border: 0;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0;
    border-radius: 50px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.navbar.navbar-subnav {
    top: 50px;
}

.with-subnav {
    margin-top: 110px;
}

.show-more-less-btn {
    position: absolute;
    bottom: 20px;
    right: 15px;
    opacity: 0.5;
}

.diff {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
    display: flex;
    .opts {
        position: fixed;
        display: flex;
        top: 0;
        left: 40%;
        z-index: 2;
    }
    .column {
        overflow-y: scroll;
        overflow-x: scroll;
        font-family: monospace;
        position: relative;
        line-height: 16px;
    }
    .left {
        flex: 45;
        background: rgba(#eee, 0.25);
        z-index: 2;
        direction: rtl;
        & .content-wrap {
            direction: ltr;
            display: table;
            position: relative;
        }
    }
    .middle {
        width: 147px;
        padding: 0;
        overflow: visible;
        position: relative;
        top: -7px;
        z-index: 1;
    }
    .right {
        flex: 45;
        background: rgba(#eee, 0.25);
        z-index: 2;
    }
    .content {
        margin-left: 45px;
        white-space: pre;
    }
    .linenos {
        position: absolute;
        left: 0;
        top: 0;
        width: 45px;
        white-space: nowrap;
        text-align: center;
        line-height: 16px;
    }
    .hljs {
        padding: 1px;
    }
    .marker {
        position: absolute;
        top: 0;
        left: 0;
        overflow: visible;
        opacity: 0.4;
        z-index: 2;
        pointer-events: none;
    }
    .marker.add path {
        fill: rgb(138, 229, 93);
    }
    .marker.remove path {
        fill: #F76A51;
    }
    .marker.modify path {
        fill: #F5F05D;
    }
    .marks {
        position: relative;
        top: 0;
        width: 0;
        overflow: visible;
        height: calc(100% - 8px);
        background: #eee;
        z-index: 2;
        .mark {
            position: absolute;
            width: 8px;
            padding: 0;
            &.mark-add {
                background: rgb(138, 229, 93);
            }
            &.mark-remove {
                background: #F76A51;
            }
            &.mark-modify {
                background: #F2DF82;
            }
        }
        &.marks-right {
            right: 8px;
            z-index: 1;
        }
    }
}

.diff-progress {
    float: left;
    width: 20%;
    margin: 5px;
}

.fade.ng-enter {
    transition: opacity 0.15s;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    transition: opacity 0.15s;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

cr-files .modal-dialog {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

cr-file-size {
    float: right;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-shim {
    visibility: hidden;
}

.ng-anchor {
    position: absolute;
}
